*{
    margin: 0;
    padding: 0;
}
nav{
    background-color: white;
}
li{
    border-radius: 5px;
    background-color: white;
    transition: 0.5s;
}
li:hover{
    background-color:aliceblue;
    transition: 1s;
}
#logo{
    width: 40px;
}
.artBtn{
    text-decoration: none;
    border-radius: 5px;
    background-color:white;
    color: inherit;
    transition: 1s;
}
.artBtn:hover{
    color: gray;
    transition: 0.5s;
}
#notFoundPhoto{
    width: 60%;
}
.comments{
    background-color: aliceblue;
    padding: 1%;
    border-radius: 10px;
}
.logReg{
    background-color:white;
    border-radius: 10px;
    filter: drop-shadow(0 0.20rem 0.20rem gray);
}